<html>

<head>
    <title>Payment Form</title>
    <link rel="stylesheet" href="../checkout/checkout.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <h2>Confirm Your Payment</h2>
        <div class="first-row">
            <div class="address">
                <h5>Address <i class="fa fa-address-card-o"></i> </h5>
                <div class="input-field">
                    <input type="text" required>
                </div>
                <h5>State <i class="fa fa-globe" aria-hidden="true"></i></h5>
                <div class="input-field">
                    <input type="text" required>
                </div>
                <h5>Zip Code</h5>
                <div class="input-field">
                    <input type="number" required>
                </div>
            </div>
        </div>
        <div class="second-row">
            <div class="owner" style="float: right;margin-top: -31%;">
                <h5>Name on Card <i class="fa fa-user"></i></h5>
                <div class="input-field">
                    <input type="text" required>
                </div>
                <h5>CVV <i class="fa fa-credit-card-alt"></i></h5>
                <div class="input-field">
                    <input type="password" required>
                </div>
                <h5>Card Number</h5>
                <div class="input-field">
                    <input type="text" required>
                </div>
            </div>

        </div>
        <div class="second-row">
            <h4>Date In Card</h4>
            <div class="selection">
                <div class="date">
                    <select>
                        <option value="Jan">Jan</option>
                        <option value="Feb">Feb</option>
                        <option value="Mar">Mar</option>
                        <option value="Apr">Apr</option>
                        <option value="May">May</option>
                        <option value="Jun">Jun</option>
                        <option value="Jul">Jul</option>
                        <option value="Aug">Aug</option>
                        <option value="Sep">Sep</option>
                        <option value="Oct">Oct</option>
                        <option value="Nov">Nov</option>
                        <option value="Dec">Dec</option>
                    </select>
                    <select>
                        <option value="2020">2020</option>
                        <option value="2019">2021</option>
                        <option value="2018">2022</option>
                        <option value="2017">2023</option>
                        <option value="2016">2024</option>
                        <option value="2015">2025</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="icon-container">
            <i class="fa fa-cc-visa" style="color:navy;"></i>
            <i class="fa fa-cc-amex" style="color:blue;"></i>
            <i class="fa fa-cc-mastercard" style="color:red;"></i>
            <i class="fa fa-cc-discover" style="color:orange;"></i>
        </div>
        <button type="button" class="btn btn-success" routerLink="/error">Confirm</button>
    </div>
</body>

</html>